# 忽略.env .vscode
.env
.vscode

# 忽略测试db
.my_rag_db
.my_chroma_data

# 忽略Python的虚拟环境目录
# 如果您的虚拟环境文件夹叫venv, venv/, .venv等，都可以用这种方式忽略
venv/
.venv/

# 忽略Python的缓存目录
__pycache__/

# 忽略其他常见的Python生成文件
*.pyc
*.pyo
*.pyd
